// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #6096BA;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-gray: #E7ECEF;
$dark-blue: #274C77;
$blue: #6096BA;
$light-blue: #A3CEF1;
$gray: #8B8C89;
