.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  // font-weight: bold;
  font-family: 'Racing Sans One', cursive;
  color: #E7ECEF;}

.banner h3 {
  font-family: Nunito;
  color: #E7ECEF;
  font-size: 60px;
  margin: 40px 0;
  text-align: center;
}

.banner p {
  font-size: 30px;
  color: #E7ECEF;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Nunito', cursive;
}

.fade-in-text {
  font-family: 'Nunito', cursive;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #274C77;
  transition: background 0.3s ease;
  font-family: 'Nunito', cursive;
}

.btn-flat:hover {
  background: #315b8a;
  color: #E7ECEF;
}
