.navbar-lewagon {
  justify-content: space-between;
  background: #6096BA;
}

.navbar-lewagon .nav-link {
  color: #E7ECEF
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand h1 {
  font-family: 'Racing Sans One', cursive;
  color: #E7ECEF;
}

.navbar-lewagon .nav-item {
  color: #E7ECEF;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-success {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #02c39a;
  transition: background 0.3s ease;
  font-family: 'Nunito', cursive;
}

.btn-success:hover {
  background: #05cda2;
  color: #E7ECEF;
}
