<div class="container mt-2 py-2">
  <div class="row">
    <h2>Community</h2>
    <br>
    <div class="col-6">
      <div class="card-background mx-3 my-3">
        <% @profiles.each do |profile| %>
          <h4><%= profile.name %></h4>
          <p><%= profile.bio %></p>
          <p>Drives a <%= profile.user.car %></p>
          <%= cl_image_tag profile.user.avatar.key %>
        <% end %>
      </div>
    </div>
  </div>
</div>
